<!-- <div class="container">
    <button mat-icon-button matTooltip="Login" id="login" *ngIf="!userLoggedIn" (click)="login()" ><mat-icon>login</mat-icon></button>
    <button mat-icon-button matTooltip="Logout" id="login" *ngIf="userLoggedIn" (click)="logout()" ><mat-icon>logout</mat-icon></button>

    <div class="content">

        <div class="main-card">
            <h1 class="title">WebShop</h1>

        </div>



    </div>

</div> -->
<div class="container">
  <!-- <div id="buttons">
    <button mat-raised-button matTooltip="Login" id="login" *ngIf="!userLoggedIn" (click)="login()"><mat-icon>login</mat-icon>Login</button>
    <button mat-raised-button matTooltip="Logout" id="login" *ngIf="!userLoggedIn" (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    <button mat-raised-button matTooltip="Registration" id="login" *ngIf="!userLoggedIn" routerLink="/registration"><mat-icon>add</mat-icon>Register</button>

  </div> -->

  <div class="content">
    <div id="left-part">
      <div id="title">
        <h1 id="title-text">Welcome to Queen's Web Store</h1>
      </div>
      <div id="browse">
        <button mat-raised-button id="browse-button" routerLink="/products">Browse store</button>

      </div>
    </div>

  </div>
</div>
