<body>
    <!--<div class="container">
        <div class="row">
            <div class="col-1">


                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>












            </div>
            <div class="col col-search">
                <div class="row row-search">
                        <form class="search-form">
                            <mat-form-field class="example-full-width">
                                <mat-label></mat-label>
                                <input matInput placeholder="Start typing">
                            </mat-form-field>
                        </form>

                </div>

                <div class="row">
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                    dsaldsaldsa
                                    dsakdsaldsa
                                    dksaldksalda
                                    kdsldksaldsa
                                    dsladksal;
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar ></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>

                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button matTooltip="Add to card">
                                    <i class="bi-bag" role="img" aria-label="GitHub" style="font-size: 1rem;"></i>
                                </button>
                                <button mat-button>SHARE</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>

                <div class="row row-paginator">
                    <div class="container-paginator">
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active">
                            <span class="page-link">
                              2
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                </div>



            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-3">
            sdsadsadsadsa
        </div>

        <div class="col-9">

            <div class="row">
                <div class="col-md-9">
                        <form class="col-search">
                            <mat-form-field class="example-full-width">
                                <mat-label></mat-label>
                                <input matInput placeholder="Start typing">
                            </mat-form-field>
                            <button mat-button matTooltip="Search" class="search-button ">
                                <i class="bi-search" role="img" aria-label="Search"></i>
                            </button>

                        </form>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Sort</mat-label>
                        <mat-select>
                          <mat-option value="price-low">Price (low to high)</mat-option>
                          <mat-option value="price-high">Price (high to low)</mat-option>
                          <mat-option value="name-asc">Name (ascending)</mat-option>
                          <mat-option value="name-desc">Name (descending)</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-sm" *ngFor="let product of products;" style="padding-top: 20px;">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>{{product.name}}</mat-card-title>
                            <mat-card-subtitle>
                                <p style="font-size: 1.2rem;">{{product.price}}</p>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{product.image}}" style="height: 25vh; max-width: 40vh;"
                            alt="Photo">
                        <mat-card-content style="height: 20vh; max-height:25vh;">
                            <p style="word-wrap: break-word;">
                                {{product.description}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button matTooltip="Add to card">
                                <i class="bi-bag" role="img" aria-label="GitHub" style="font-size: 2rem;"></i>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>








        </div>

        </div>

    </div>

        <footer>
        </footer>
</body>
