<div class="container">
    <!-- <button mat-icon-button matTooltip="Login" id="back" (click)="back()" ><mat-icon>keyboard_backspace</mat-icon></button> -->

    <div class="left-part">
        <mat-accordion class = "one-filter">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Beauty
                </mat-panel-title>
              </mat-expansion-panel-header>

            <span class="example-list-section">
                <ul>
            <li>
                <mat-checkbox>
                    Face
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    Eyes
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    Lips
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    Skincare
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    Hair
                </mat-checkbox>
            </li>
            </ul>
            </span>
        
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>