<div class="component mt-5">
  <div class="row justify-content-center">
    <div class="col-3">
      <h1>{{shopname}}</h1>
    </div>
  </div>
  <div class="row justify-content-center">
   <div class="col-8">
       <div class="row">
           <div class="col-md-9">
               <form class="col-search">
                   <mat-form-field class="example-full-width">
                       <mat-label></mat-label>
                       <input matInput placeholder="Start typing">
                   </mat-form-field>
                   <button mat-button matTooltip="Search" class="search-button ">
                       <i class="bi-search" role="img" aria-label="Search"></i>
                   </button>

               </form>
           </div>

           <div class="col-md-3">
               <mat-form-field appearance="fill">
                   <mat-label>Sort</mat-label>
                   <mat-select>
                       <mat-option value="price-low">Price (low to high)</mat-option>
                       <mat-option value="price-high">Price (high to low)</mat-option>
                       <mat-option value="name-asc">Name (ascending)</mat-option>
                       <mat-option value="name-desc">Name (descending)</mat-option>
                   </mat-select>
               </mat-form-field>
           </div>

       </div>
       <div class="row">
           <div class="col-sm" *ngFor="let product of products;" style="padding-top: 20px;">
               <mat-card class="example-card">
                   <mat-card-header>
                       <mat-card-title>{{product.name}}</mat-card-title>
                       <mat-card-subtitle>
                           <p style="font-size: 1.2rem;">Price: ${{product.price}}</p>
                       </mat-card-subtitle>
                   </mat-card-header>

                   <!-- <img mat-card-image src="{{product.image[0]}}" style="height: 20vh; max-width: 30vh;" alt="Photo"> -->
                   <mat-carousel
                    color="accent"
                    maxWidth="auto"
                    hideArrows="false"
                    autoplay ="false"
                    slides={{product.image.length}}
                    [hideArrows]="false"
                    [hideIndicators]="true"
                    [useKeyboard]="true"
                    [useMouseWheel]="false"
                    orientation="ltr"
                    proportion="100">

                    <mat-carousel-slide
                      #matCarouselSlide
                      id="carouselImg"
                      *ngFor="let image of product.image"
                      [image]="image"
                      overlayColor="#00000040"
                      [hideOverlay]="false"
                      ></mat-carousel-slide>

                  </mat-carousel>

                   <mat-card-content style="height: 10vh; max-height:15vh;">
                       <p style="word-wrap: break-word;">
                          Description: {{product.description}}
                       </p>
                   </mat-card-content>
                   <mat-card-actions>
                       <button mat-button matTooltip="Add to card">
                           <i class="bi-bag" role="img" aria-label="GitHub" style="font-size: 2rem;"></i>
                       </button>
                       <button mat-button matTooltip="Edit" *ngIf="isAdmin()" (click)="edit(product)">
                         <i class="bi bi-pencil-square" role="img" style="font-size: 2rem;"></i>
                     </button>
                     <button mat-button matTooltip="Edit" *ngIf="isAdmin()" (click)="remove(product)">
                       <i class="bi bi-trash" role="img" style="font-size: 2rem;"></i>
                   </button>
                   </mat-card-actions>
               </mat-card>
           </div>

       </div>

       <div class="row">
           <mat-paginator [length]="itemsCount"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page) = "load($event)">
           </mat-paginator>
       </div>



   </div>

</div>
</div>

