@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.example-card {
    max-width: 30vh;
    min-width: 30vh;
    max-height: 50vh;
    padding-top: 20px;

  }

.row {
  padding-top: 20px;
}

.paginator{
  width: 60vw;
  height: 100px;
  margin-top: 20px;

}
.footer {
  height: 20px;
  max-height: 20px;
}
.col {
  margin-top: 25px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.row-paginator {
  display:flex;
  justify-content:center;
}

.row-search {
  display:flex;
  justify-content:center;
}

.col-search {
  display:flex;
  justify-content:center;
  min-width: 48vh;
  max-width: 48vh;
}

.search-button {
  width: 5em !important;
  height: 2.8em !important;
  min-width: unset!important;
}

.custom-col {
  padding-top: 20px;
}

.col-search2 {
  position: center;
  justify-content: center;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.row {
  display: flex;
}

.row > div {
  flex: 1;
}
