
<div class="container">

  <div class="content">
    <div id="left-part">
      <mat-card class="main-card">
        <div id="field">

        <form [formGroup]="codeForm" >
            <h1 id="confirm-text">Hello there!</h1>
            <div id="buttonandtext">
              <h3 id="p-text"> Please enter code you have recieved on your email! If you dont receive email with verification code,&nbsp; </h3>
              <button id="link" (click)="resend()"> click here</button>
              <h3 id="p-text">.</h3>

            </div>
          <div>
            <mat-form-field appearance="fill" id="text-ff">
              <mat-label>Verification code:*</mat-label>
              <input matInput placeholder="Verification code"
                    formControlName="code">
              <mat-error
                *ngIf="!codeForm.get('code').valid && codeForm.get('code').touched && codeForm.get('code').errors['required']">
                Please enter verification code</mat-error>
            </mat-form-field>
          </div>

          <button mat-raised-button id="confirm-button" (click)="confirm()">Confirm</button>

        </form>
      </div>

      </mat-card>
    </div>

  </div>
</div>
