
.container{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width:100%;
  height:100%;
}
.content{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
    /* flex-direction:column; */
}
#left-part{
  width:50%;
  height:100%;
  display:flex;
  justify-content:center;
  flex-direction: column;
}
#title{
  margin-left: 5%;
  margin-top: 20%;
  width:90%;
  justify-content:center;
  height:30%;

}
#browse{
  margin-left: 5%;
  width:50%;
  justify-content:center;
  height:20%;
}

#browse-button{
  background-color: #2980B9;
  color:white;
  font-size: 1.2rem;
  margin-left: 5%;
  width:60%;
  height:40%;
  border-radius: 20px;
  border: 4px solid white;
}
#browse-button:hover{
  background-color:white;
  color: #2980B9;
  border: 1px solid #2980B9;

}
#title-text{
  margin-top: 5%;
  font-size: 5rem;
  font-weight:600;
  color:white;
  line-height:100%;
  font-family: 'Roboto', sans-serif;
}
#right-part{
  width:50%;
  height:100%;
  display:flex;
  /*  If I uncomment this then it will be even on both sides and like mroe on the right  */
  /* justify-content:center; */
  flex-direction:row;
}
.login-text{
    color:black;
    font-size: 2.4rem;
    background-color:white;
    margin-left: 40%;
  }
#login{
    background-color: #2980B9;
    color:white;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 20%;
    width:60%;
    height:20%;
    border-radius: 20px;

}
#login:hover{
    background-color:white;
    color: #2980B9;
    border: 1px solid #2980B9;

}
.main-card{
    margin-top:30%;
    margin-left: 0%;
    width:60%;
    height:26rem;
    display:flex;
    justify-content:center;
    flex-direction: column;
}
#not-signed{
  margin-top:5%;
  margin-left:25%;
  font-size:1.3rem;
}
#email-ff{
    width:60%;
    margin-left:20%;
    background-color: white;
}
#password-ff{
    width:60%;
    margin-left:20%;
    background-color: white;
}
