<div class="container">
    <div class="content">

          <mat-horizontal-stepper [linear]="isLinear" style="margin-top:15%;margin-left: 30%;" #stepper >
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your email</ng-template>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error
                      *ngIf="!firstFormGroup.get('email').valid && firstFormGroup.get('email').touched && firstFormGroup.get('email').errors['required']">
                       Please enter email
                    </mat-error>
                    <mat-error
                      *ngIf="!firstFormGroup.get('email').valid && firstFormGroup.get('email').touched && firstFormGroup.get('email').errors['email']">
                       Please enter email
                    </mat-error>
                  </mat-form-field>
                <div>
                  <button mat-button matStepperNext (click)="sendMail()" [disabled]="!firstFormGroup.valid">Next</button>
                </div>
              </form>
            </mat-step>
            <!-- #docregion label -->
            <mat-step [stepControl]="secondFormGroup" label="Fill out your verification code">
            <!-- #enddocregion label -->
              <form [formGroup]="secondFormGroup">
                <mat-form-field>
                  <mat-label>Code</mat-label>
                  <input matInput formControlName="code" placeholder="Code(8 digits)"
                         required>
                  <mat-error
                    *ngIf="!secondFormGroup.get('code').valid && secondFormGroup.get('code').touched && secondFormGroup.get('code').errors['required']">
                    Please enter code
                  </mat-error>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext (click)="verifyCode()" >Next</button>
                </div>
              </form>
            </mat-step>
            <!-- #docregion label -->
            <mat-step [stepControl]="thirdFormGroup" label="Fill out your new password">
            <!-- #enddocregion label -->
                <form [formGroup]="thirdFormGroup">
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Password"
                            required>
                     <mat-hint>Password must have minimum 1 uppercase letter, 1 lowercase letter, 1 digit and 1 special character</mat-hint>

                    <mat-error
                      *ngIf="!thirdFormGroup.get('password').valid && thirdFormGroup.get('password').touched && thirdFormGroup.get('password').errors['required']">
                      Please enter password
                    </mat-error>
                    <mat-error
                      *ngIf="!thirdFormGroup.get('password').valid && thirdFormGroup.get('password').touched && thirdFormGroup.get('password').errors['pattern']">
                      Password must have minimum 1 uppercase letter, 1 lowercase letter, 1 digit and 1 special character and needs to be minimum 8 characters long.
                    </mat-error>
                </mat-form-field>

                <p></p>

                <mat-form-field>
                    <mat-label>Confirm new password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password" (change)="checkPassword()"
                            required>
                    <mat-hint>Password must have minimum 1 uppercase letter, 1 lowercase letter, 1 digit and 1 special character</mat-hint>

                    <mat-error
                      *ngIf="!thirdFormGroup.get('password').valid && thirdFormGroup.get('password').touched && thirdFormGroup.get('password').errors['required']">
                      Please enter password
                    </mat-error>
                    <mat-error
                      *ngIf="!thirdFormGroup.get('password').valid && thirdFormGroup.get('password').touched && thirdFormGroup.get('password').errors['pattern']">
                      Password must have minimum 1 uppercase letter, 1 lowercase letter, 1 digit and 1 special character and needs to be minimum 8 characters long.
                    </mat-error>
                </mat-form-field>
                <p></p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="resetPassword()" [disabled]="!thirdFormGroup.valid">Next</button>
                </div>
                </form>
             </mat-step>

             <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>
