.container{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    width:100%;
    height:100%;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}

.content{
    width:100%;
    height:65%;
    display:flex;
    
      /* flex-direction:column; */
}

#title{
    margin-left: 5%;
    margin-top: 20%;
    width:90%;
    justify-content:center;
    height:30%;
}

#title-text{
   /* margin-top: -5%;*/
    font-size: 3rem;
    font-weight:400;
    color:white;
   /* line-height:100%;*/
    font-family: 'Roboto', sans-serif;
}