<div class="container">   
    <div class="content">  
              
          <mat-horizontal-stepper [linear]="isLinear" #stepper style="margin-top:15%;    margin-left: 30%;">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your email</ng-template>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext (click)="sendMail()">Next</button>
                </div>
              </form>
            </mat-step>
            <!-- #docregion label -->
            <mat-step [stepControl]="secondFormGroup" label="Fill out your verification code">
            <!-- #enddocregion label -->
              <form [formGroup]="secondFormGroup">
                <mat-form-field>
                  <mat-label>Code</mat-label>
                  <input matInput formControlName="code" placeholder="Code(8 digits)"
                         required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext (click)="verifyCode()" >Next</button>
                </div>
              </form>
            </mat-step>
            <!-- #docregion label -->
            <mat-step [stepControl]="thirdFormGroup" label="Fill out your new password">
            <!-- #enddocregion label -->
                <form [formGroup]="thirdFormGroup">
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input matInput formControlName="password" placeholder="Password"
                            required>  
                </mat-form-field> 
                
                <p></p>

                <mat-form-field>             
                    <mat-label>Confirm new password</mat-label>
                    <input matInput formControlName="confirmPassword" placeholder="Confirm password"
                            required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="resetPassword()">Next</button>
                </div>
                </form>
             </mat-step>
             <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
        </mat-horizontal-stepper>   
    </div>
</div>
